{% if shop.metafields.gd_price_updator.subscription_active == 'true' %}
  {% assign selected_product = block.settings.product %}
  {% assign has_b2b_tag = false %}
  {% for tag in customer.tags %}
    {% assign tag_downcase = tag | downcase %}
    {% if tag_downcase == 'b2b_approved' %}
      {% assign has_b2b_tag = true %}
    {% endif %}
  {% endfor %}

  <b2b-prod-price id="b2b-price-container-{{ block.id }}" class="js-gd-ext-b2b-price-block">
    <div class="js-b2b-price-wrapper">
      {% assign current_variant = selected_product.selected_or_first_available_variant %}
      {% assign b2b_price = current_variant.metafields.app.original_price.value | times: 100 %}

      {% if has_b2b_tag and b2b_price > 0 %}
        <div class="b2b-price-wrapper b2b-customer-price">
          <span class="b2b-price-current">{{ b2b_price | money }}</span>
          <span class="b2b-price-original" style="text-decoration: line-through;">
            {{- current_variant.price | money -}}
          </span>
        </div>
      {% elsif current_variant.compare_at_price > current_variant.price %}
        <div class="b2b-price-wrapper b2b-regular-sale">
          <span class="b2b-price-current">{{ current_variant.price | money }}</span>
          <span class="b2b-price-compare" style="text-decoration: line-through;">
            {{- current_variant.compare_at_price | money -}}
          </span>
        </div>
      {% else %}
        <div class="b2b-price-wrapper b2b-regular-price">
          <span class="b2b-price-current">{{ current_variant.price | money }}</span>
        </div>
      {% endif %}
    </div>

    <script type="application/json">
      {
        "isB2B": {{ has_b2b_tag | json }},
        "moneyFormat": {{ shop.money_format | json }},
        "variantsData": {
          {% for variant in selected_product.variants %}
            "{{ variant.id }}": {
              "price": {{ variant.price }},
              "compare_at_price": {% if variant.compare_at_price %}{{ variant.compare_at_price }}{% else %}null{% endif %},
              "b2b_price": {% if variant.metafields.app.original_price.value %}{{ variant.metafields.app.original_price.value | times: 100 }}{% else %}null{% endif %}
            }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        },
        "blockId": "{{ block.id }}",
        "selectedVariantId": "{{ selected_product.selected_or_first_available_variant.id }}"
      }
    </script>

    <style style="display: none;">
      {{ block.settings.custom_css }}
    </style>
  </b2b-prod-price>
{% endif %}

{% schema %}
{
  "name": "B2B Product Price",
  "class": "gd-b2b-product-price",
  "target": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "product",
      "autofill": true
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "info": "Add custom CSS here."
    }
  ]
}
{% endschema %}
